name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build latest JSON file
    strategy:
      matrix:
        python-version: ["3.14"]
    steps:
    - uses: actions/checkout@v5
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Lint with Ruff
      run: |
        pip install ruff
        ruff check --output-format=github .
    - name: Download latest example sentences
      run: python download.py
    - name: Convert sentence data to JSON
      run: python parse.py
    - name: Upload artifacts
      uses: actions/upload-artifact@v6
      with:
        name: jpn-eng-examples.zip
        path: dist
